<div id="home-page">

  <div id="topnav" class="section">
    <div class="nav-logo">
      <h1>
        Code School Prep
      </h1>
    </div>
    <div class="nav-links">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#curriculum">Curriculum</a>
        </li>
        <li>
          <a href="#how-it-works">How it Works</a>
        </li>
        <li>
          <a href="#instructor">Your Instructor</a>
        </li>
        <li>
          <a href="#faq">FAQ</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>


<!-- ############################################### -->
  <div id="hero-unit" class="section">
    <h1>
      Web Development Fundamentals<br>In Just 6 Weeks
    </h1>
    <h3>
      This custom-built program takes incoming coding bootcamp students and hammers home the fundamentals of web development and application engineering so they can hit the ground running on Day 1 and you can focus on making every day count during your course.
    </h3>
    <a href="#contact">
      <button class="button lg">
        Learn More
      </button>
    </a>
  </div>
  
<!-- ############################################### -->
  <div id="reinforcer" class="section">
    <div class="container">
      <h3>
        The Bar Keeps Rising...
      </h3>
      <p>
        The market for junior developers is getting more and more competitive with every new batch.  You need to keep up but only have so many weeks to work with.  Our turn-key solution lets you do more with the time you have by bringing your future grads to the starting line with a strong base in the fundamentals of HTML/CSS, Javascript, jQuery, Ruby, and web engineering -- without any additional staffing or development work on your end.
      </p>
    </div>
  </div>

<!-- ############################################### -->
  <div id="goals" class="section">
    <div class="container">
      <div class="goal">
        <div class="goal-text float-left">
          <h3>
            Our Goal
          </h3>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
          </p>
        </div>
        <div class="goal-image float-right">
          <img src="#">
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="goal">
        <div class="goal-image float-left">
          <img src="#">
        </div>
        <div class="goal-text float-right">
          <h3>
            Fundamentals First
          </h3>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

<!-- ############################################### -->
  <div id="curriculum" class="section">
    <div class="container">
      <h2>
        The Curriculum
      </h2>
      <div class="clearfix"></div>
      <div class="weeks-top">
        <div class="week-wrapper">
          <div class="week">
            <div class="week-front">
              <h4>
                Web Fundamentals
              </h4>
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
              </p>
            </div>
            <div class="week-back">
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
          </div>
        </div>
        <div class="week-wrapper">
          <div class="week">
            <div class="week-front">
              <h4>
                Web Fundamentals
              </h4>
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
              </p>
            </div>
            <div class="week-back">
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
          </div>
        </div>
        <div class="week-wrapper">
          <div class="week">
            <div class="week-front">
              <h4>
                Web Fundamentals
              </h4>
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
              </p>
            </div>
            <div class="week-back">
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="curr-diagram">
        <img src="#">
      </div>

      <div class="clearfix"></div>
      <div class="weeks-bottom">
        <div class="week-wrapper">
          <div class="week">
            <div class="week-front">
              <h4>
                Web Fundamentals
              </h4>
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
              </p>
            </div>
            <div class="week-back">
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
          </div>
        </div>
        <div class="week-wrapper">
          <div class="week">
            <div class="week-front">
              <h4>
                Web Fundamentals
              </h4>
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
              </p>
            </div>
            <div class="week-back">
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
          </div>
        </div>
        <div class="week-wrapper">
          <div class="week">
            <div class="week-front">
              <h4>
                Web Fundamentals
              </h4>
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
              </p>
            </div>
            <div class="week-back">
              <p>
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

<!-- ############################################### -->
  <div id="how-it-works" class="section">
    <div class="container">
      <div class="how-content">
        <div class="how-box">
          <img src="#">
          <h4>
            The Web's Best Resources
          </h4>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          </p>
        </div>
        <div class="how-box">
          <img src="#">
          <h4>
            The Web's Best Resources
          </h4>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          </p>
        </div>
        <div class="how-box">
          <img src="#">
          <h4>
            The Web's Best Resources
          </h4>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          </p>
        </div>
        <div class="how-box">
          <img src="#">
          <h4>
            The Web's Best Resources
          </h4>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          </p>
        </div>
        <div class="how-box">
          <img src="#">
          <h4>
            The Web's Best Resources
          </h4>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          </p>
        </div>
        <div class="how-box">
          <img src="#">
          <h4>
            The Web's Best Resources
          </h4>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          </p>
        </div>
      </div>
      <div class="how-support">
        <div class="how-box">
          <img src="#">
          <h4>
            The Web's Best Resources
          </h4>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          </p>
        </div>
        <div class="how-box">
          <img src="#">
          <h4>
            The Web's Best Resources
          </h4>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          </p>
        </div>
        <div class="how-box">
          <img src="#">
          <h4>
            The Web's Best Resources
          </h4>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          </p>
        </div>
        <div class="how-box">
          <img src="#">
          <h4>
            The Web's Best Resources
          </h4>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          </p>
        </div>
        <div class="how-box">
          <img src="#">
          <h4>
            The Web's Best Resources
          </h4>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          </p>
        </div>
        <div class="how-box">
          <img src="#">
          <h4>
            The Web's Best Resources
          </h4>
          <p>
            lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          </p>
        </div>
      </div>
    </div>
  </div>

<!-- ############################################### -->
  <div id="instructor" class="section">
    <div class="container-narrow">
      <h2>
        Meet the Head Instructor
      </h2>
      <div class="info-box">
        <img src="#">
        <p>
          <strong>Erik Trautman</strong> has taught hundreds of students how to code.  He's a graduate of Penn's School of Engineering and a former student at App Academy, a premier coding school in San Francisco.  He worked for App Academy after graduating their program before founding <a href="http://theodinproject.com" target="_blank">The Odin Project</a>, an open source curriculum for learning web development. 
        </p>
        <p>
          He currently coordinates dozens of remote student developers who contribute to the project and also heads the <a href="http://codingschoolalumni.org">Coding School Alumni Association</a>, a social and professional network of graduates of fulltime intensive coding schools worldwide.
        </p>
      </div>
    </div>
  </div>

<!-- ############################################### -->
  <div id="faq" class="section">
    <div class="container-narrow">
      <h2>
        FAQ
      </h2>
      <div class="faq-question">
        <h4>
          Some question about stuff?
        </h4>
        <p>
          Lorem Ipsum asdfas asgdn sndgweion skjadgn sjgowen gsjgn osgnowerk osindgl s gw gsog ahg kdfsg aggsadjfg;laskdgj asdasdoiwqeopfj asof paosf paof aosj os gaksjg s gasdkjf asf as .
        </p>
      </div>
      <div class="faq-question">
        <h4>
          Some question about stuff?
        </h4>
        <p>
          Lorem Ipsum asdfas asgdn sndgweion skjadgn sjgowen gsjgn osgnowerk osindgl s gw gsog ahg kdfsg aggsadjfg;laskdgj asdasdoiwqeopfj asof paosf paof aosj os gaksjg s gasdkjf asf as .
        </p>
      </div>
      <div class="faq-question">
        <h4>
          Some question about stuff?
        </h4>
        <p>
          Lorem Ipsum asdfas asgdn sndgweion skjadgn sjgowen gsjgn osgnowerk osindgl s gw gsog ahg kdfsg aggsadjfg;laskdgj asdasdoiwqeopfj asof paosf paof aosj os gaksjg s gasdkjf asf as .
        </p>
      </div>
      <div class="faq-question">
        <h4>
          Some question about stuff?
        </h4>
        <p>
          Lorem Ipsum asdfas asgdn sndgweion skjadgn sjgowen gsjgn osgnowerk osindgl s gw gsog ahg kdfsg aggsadjfg;laskdgj asdasdoiwqeopfj asof paosf paof aosj os gaksjg s gasdkjf asf as .
        </p>
      </div>
      <div class="faq-question">
        <h4>
          Some question about stuff?
        </h4>
        <p>
          Lorem Ipsum asdfas asgdn sndgweion skjadgn sjgowen gsjgn osgnowerk osindgl s gw gsog ahg kdfsg aggsadjfg;laskdgj asdasdoiwqeopfj asof paosf paof aosj os gaksjg s gasdkjf asf as .
        </p>
      </div>
    </div>
  </div>

<!-- ############################################### -->
  <div id="contact" class="section">
    <div class="container-narrow">
      <h2>
        Get Your Students Involved
      </h2>
      <h4>
        To find out more about the program and how you can get your students involved, leave your information below and we'll be in touch within a day.
      </h4>
      <div class="contact-form">
        <form method="get">
          <div class="input required">
            <input type="text" placeholder="Your Name">
          </div>
          <div class="input required">
            <input type="text" placeholder="Your Email Address">
          </div>
          <div class="input">
            <textarea placeholder="Comments..."></textarea>
          </div>
          <div class="input">
            <input type="submit" value="Learn More">
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- ############################################### -->
  <footer class="section">
    <span class="copyright">
       &#169; Viking Education 2014
    </span>
  </footer>

  <!--
  * Break points at... 400?
-->

</div>