/* NOTES

* Need a container with a max width for all except the logo
* Breakpoint: curriculum section 900px goes mobile (back side of card stacks under the card, all cards centered and stacked)

*/



$font-headline: Lato, Helvetica, sans-serif;
$font-body: "helvetica neue", Helvetica, sans-serif;
$section-buffer: 40px;

/* COLORS */
$color-highlight: #0298F5;
$color-highlight-border: #0279C2;
/* --------------- */

body{
  a{
    text-decoration: none;
    color: inherit;
  }
  a:hover{
    color: #ccf;
  }
}

/* FONT HIERARCHY */
body{
  font-family: $font-body;
  color: #333;
}
h1{
  font-family: $font-headline;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.25em;
}
h2{
  font-family: $font-headline;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25em;
}
h3{
  font-family: $font-headline;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25em;
}
h4{
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25em;
}
h5{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25em;
}
p{
  font-size: 1rem;
  line-height: 1.25em;
}
/* used to prevent flashing when web fonts load */
.wf-loading {
  font-family: "droid-sans";
  visibility: hidden;
}
.wf-active {
  visibility: visible;
  }
/* ----------------- */


/* BUTTON STYLES */

.button{

  cursor: pointer;
  -webkit-appearance: none;

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

  background-color: $color-highlight;
  border: 1px solid $color-highlight-border;
  
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  
  &.lg{
    width: 200px;
    height: 50px;
  }
}

/* ----------------- */

/* MISC STYLES */
.clearfix{
  clear: both;
  margin:0;
}
/* ----------------- */

/* HOME PAGE STYLES */

.section{
  border-bottom: 1px solid #eee;
  position: relative;
  clear: both;
}

#home-page{

  #topnav{

    height: 80px;
    border-bottom: 1px solid #eee;
    // background-color: #304350;
    background: image-url('patterns/dk-blue-hatch.png');
    color: white!important;

    .nav-logo{
      display: inline-block;
      width: 20%;
      h1{
        display: inline-block;
        font-size: 20px;
        padding: 30px 30px;
      }
    }
    .nav-links{
      display: inline-block;
      // margin: 0px auto;
      width: 60%;
    }
    ul{
      list-style-type: none;
    }
    li{
      display: inline-block;
      width: 16%;
      text-align: center;
    }

  }


  #hero-unit{

    h1{
      margin: 80px auto 30px;
      text-align: center;
      line-height: 1.1em;
    }
    h3{
      margin: 0px auto;
      text-align: center;
      font-size: 16px;
      width: 600px;
    }
    button{
      font-size: 20px;
      font-weight: 500;
      color: white;
      margin: 40px auto 80px;
      display: block;
    }
  }

  #reinforcer{
    padding: $section-buffer*2 0px;
    background: image-url('patterns/dk-blue-hatch.png');
    color: white;

    h3{
      width: 80%;
      margin: auto;
      font-size: 1.75rem;
    }
    p{
      width: 75%;
      font-size: 1.25rem ;
      margin: 20px auto;
      font-weight: 100;
    }
  }

  #goals{
    padding: $section-buffer 0px;
    .goal{
      display: block;
      width: 90%;
      margin: 30px auto;
      // clear: both;s
      .goal-text{
        width: 40%;
        height: 150px;
        margin: 0 3%;
        p{
          margin: 10px;
        }
      }
      .goal-image{
        width: 40%;
        height: 150px;
        margin: 0 3%;
      }
      .float-left{
        float: left;
        // margin: 0 2% 0 5%;
      }
      .float-right{
        float: left; //HA!
        // margin: 0 5% 0 2%;
      }
      img{
        border: 1px solid gray;
        height: 100%;
        width: 100%;
      }
    }
  }

  #curriculum{
    padding: $section-buffer 0px;
    h2{
      text-align: center;
    }
    .weeks-top{
      width: 80%;
      margin: 30px auto;
    }
    .weeks-bottom{
      width: 80%;
      margin: 30px auto;
      padding-left: 100px;
    }
    .week-wrapper{
      width: 33%;
      float: left;
    }
    .week{
      width: 200px;
      height: 150px;
      border: 1px solid gray;
      padding: 15px; //set for week-back too
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      h4{
        text-align: center;
        margin: 10px 0;
      }
      p{
        // font-size: .85rem;
        line-height: 1.15em;
      }
    }
    .curr-diagram{
      height: 200px;
      width: 800px;
      margin: 50px auto;
      border: 1px solid gray;
      display: block;
    }
    .weeks-top{

    }
    .week-back{
      // display: none;
      width: 180px;
      padding: 25px;
      position: absolute;
      top: 0px;
      left: -230px;
      color: white;
      background-color: $color-highlight;
      p{
        font-size: 1.25rem;
        font-weight: 100;
      }
    }
  }


}