/* NOTES

* Need a container with a max width for all except the logo
* Breakpoint: curriculum section 900px goes mobile (back side of card stacks under the card, all cards centered and stacked)

*/



$font-headline: Lato, Helvetica, sans-serif;
$font-body: "helvetica neue", Helvetica, sans-serif;
$section-buffer: 80px;

/* COLORS */
$color-highlight: #0298F5;
$color-highlight-border: #0279C2;
$color-blue-green: #304350;
/* --------------- */

body{
  a{
    text-decoration: none;
    color: blue;
  }
  a:hover{
    color: #ccf;
  }
}

/* FONT HIERARCHY */
body{
  font-family: $font-body;
  color: #333;
}
h1{
  font-family: $font-headline;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.25em;
}
h2{
  font-family: $font-headline;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.25em;
}
h3{
  font-family: $font-headline;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25em;
}
h4{
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25em;
}
h5{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25em;
}
p{
  font-size: 1rem;
  line-height: 1.25em;
  font-weight: 300;
}
p+p{
  margin-top: .5em;
}
li{
  font-size: 1rem;
  line-height: 1.25em;
  margin: 1em 0;
}
ol, ul{
  margin-left: 2em;
}
/* used to prevent flashing when web fonts load */
.wf-loading {
  font-family: "droid-sans";
  visibility: hidden;
}
.wf-active {
  visibility: visible;
  }
/* ----------------- */


/* BUTTON STYLES */

.button{

  cursor: pointer;
  -webkit-appearance: none;

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

  background-color: $color-highlight;
  border: 1px solid $color-highlight-border;
  
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  
  &.lg{
    width: 200px;
    height: 50px;
  }
  &:hover{
    background-color: $color-highlight-border;;
  }
}


/* ----------------- */

/* MISC STYLES */
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.container-medium{
  @extend .container;
  max-width: 1000px;
}
.container-narrow{
  @extend .container;
  max-width: 800px;
}
.clearfix{
  clear: both;
  margin:0;
}
/* ----------------- */

/* HOME PAGE STYLES */

.section{
  border-bottom: 1px solid #eee;
  position: relative;
  clear: both;
}

#home-page{

  #topnav{

    height: 80px;
    border-bottom: 1px solid #eee;
    // background-color: #304350;
    background: image-url('patterns/dk-blue-hatch.png');
    color: white!important;
    position: relative;

    a{
      color: inherit;
    }

    .nav-logo{
      display: inline-block;
      position: absolute;
      max-width: 300px;
      h1{
        display: inline-block;
        font-size: 20px;
        padding: 25px 50px;
      }
    }
    .nav-links{
      position: absolute;
      right: 0;
      margin-right: 50px;
      padding: 30px 0;
    }
    ul{
      list-style-type: none;
    }
    li{
      display: inline-block;
      padding: 0 10px;
      text-align: center;
      font-weight: 200;
      margin: 0;
      &:hover{
        color: #def;
      }
    }

  }


  #hero-unit{
    padding: 20px 0px;

    h1{
      margin: 80px auto 30px;
      text-align: center;
      line-height: 1.1em;
    }
    h3{
      margin: 0px auto;
      text-align: center;
      font-size: 16px;
      width: 600px;
    }
    button{
      font-size: 20px;
      font-weight: 500;
      color: white;
      margin: 40px auto 80px;
      display: block;
    }
  }

  #reinforcer{
    padding: $section-buffer 0px;
    background: image-url('patterns/dk-blue-hatch.png');
    color: white;

    h3{
      width: 80%;
      margin: auto;
      font-size: 1.75rem;
    }
    p{
      width: 75%;
      font-size: 1.5rem;
      line-height: 1.35em;
      margin: 20px auto;
      font-weight: 100;
    }
  }

  #goals{
    padding: $section-buffer/2 0px;
    .goal{
      display: block;
      width: 90%;
      margin: 30px auto;
      // clear: both;s
      .goal-text{
        width: 40%;
        height: 150px;
        margin: 0 3%;
        p{
          margin: 10px;
        }
      }
      .goal-image{
        width: 40%;
        height: 150px;
        margin: 0 3%;
      }
      .float-left{
        float: left;
        // margin: 0 2% 0 5%;
      }
      .float-right{
        float: left; //HA!
        // margin: 0 5% 0 2%;
      }
      img{
        border: 1px solid gray;
        height: 100%;
        width: 100%;
      }
    }
  }

  #curriculum{
    padding: $section-buffer 0px;
    h2{
      text-align: center;
    }
    .weeks-top{
      width: 80%;
      margin: 30px auto;
    }
    .weeks-bottom{
      width: 80%;
      margin: 30px auto;
      padding-left: 100px;
    }
    .card-wrapper{
      width: 33%;
      float: left;
    }
    .week{
      width: 200px;
      height: 150px;
      border: 1px solid #ddd;
      padding: 15px; //set for card-back too
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      color: #888;
      h4{
        text-align: center;
        margin: 10px 0;
        color: $color-blue-green;
      }
      p{
        // font-size: .85rem;
        line-height: 1.15em;
      }
      ul{
        margin-left: 25px;
      }
      li{
        line-height: 1.15em;
        font-weight: 100;
        font-size: 1.35rem;
        margin: 0;
      }
      li+li{
        margin-top: .5rem;
      } 
    }
    .curr-diagram{
      height: 200px;
      width: 800px;
      margin: 50px auto;
      border: 1px solid gray;
      display: block;
    }
    .weeks-top{

    }
    .card-back{
      // display: none;
      width: 180px;
      height: 150px;
      padding: 25px;
      position: absolute;
      top: 0px;
      left: -230px;
      color: white;
      background-color: $color-highlight;
      p{
        font-size: 1.25rem;
        font-weight: 100;
      }
    }
  }

  #how-it-works{
    padding: $section-buffer 0px;
    h2{
    text-align:center;
    }
    h3{
      text-align: center;
      margin: 40px 0;
      font-size: 1.75rem;
      // text-decoration: underline;
      color: $color-blue-green;
      font-weight: bold;
    }
    .subheading{
      width: 800px;
      margin: 30px auto;
      p{
        font-size: 1.25rem;
        color: #888;
        font-weight: 300;
      }
    }
    .card-holder{
      width: 1000px;
      margin: auto;
    }
    .how-content{
      width: 500px;
      // display: inline-block;
      float: left;
    }
    .how-support{
      width: 500px;
      // display: inline-block;
      float: left;
    }
    .how-card{
      width: 400px;
      margin: 30px auto;
      height: 150px;
      border: 1px solid #ddd;
      position: relative;
      overflow: hidden;
    }
    .card-front{
      // padding: 20px;
      img{
        margin: 0 20px 0 30px;
        height: 110px;
        width: 110px;
        border: 1px solid gray;
        float: left;
      }
      h4{
        margin: 20px;
        font-size: 1.5rem;
        // padding-top: 1em;
        font-weight: 300;
      }
    }
    .card-back{
      // display: none;
      width: 400px;
      height: 150px;
      // padding: 25px;/
      position: absolute;
      top: 0px;
      left: -390px;
      color: white;
      background-color: $color-highlight;
      p{
        font-size: 1.25rem;
        font-weight: 100;
        margin: 25px;
      }
    }
  }

  #instructor{
    padding: $section-buffer 0px;
    h2{
      text-align: center;
    }
    strong{
      font-size: 1.25em;
      font-weight: 500;
      color: $color-blue-green;
    }
    .info-box{
      padding: 60px 0;
      img{
        width: 200px;
        height: 200px;
        margin: 0px 40px 20px 60px;
        float: left;
      }
      p{
        font-size: 1.35em;
        // margin: 1em;
        color: #666;
        margin-left: 60px;
      }
    }
  }

  #faq{
    padding: $section-buffer 0px;
    h2{
      text-align: center;
    }
    h4{
      font-weight: 700;
      color: $color-blue-green;
    }
    p{
      margin: 1em 0;
    }
    .faq-question{
      margin: 40px;
    }
  }

  #contact{
    padding: $section-buffer 0px;
    // background: image-url('patterns/dk-blue-hatch.png');
    // color: white;

    h2{
      text-align: center;
    }
    h4{
      max-width: 500px;
      margin: 30px auto;
      text-decoration: italic;
      font-weight: 300;
    }
    form{
      display: block;
      max-width: 500px;
      margin: auto;
    }
    .input{
      display: block;
      margin: 30px auto;
      position: relative;
    }
    .required:before{
      // color: white;
      font-size: 1.5em;
      position: absolute;
      left: -20px;
      content:"*";
    }
    input{
      font-size: 1.5rem;
      width: 500px;
      height: 30px;
      padding: 5px 15px;
    }
    textarea{
      font-size: 1.5rem;
      width: 500px;
      height: 200px;
      padding: 5px 15px;
    }
    input[type="submit"]{
      @extend .button;
      width: 532px;
      height: 60px;
      padding: 5px 15px;
      color: white;
    }

    .email-link{
      text-align: center;
      color: #888;
      a{
        color: #448;
      }
    }

  }

  footer{
    padding: 40px 0px;
    background: image-url('patterns/dk-blue-hatch.png');
    .copyright{
      display: inline-block;
      margin-left: 40px;
      color: white;
      font-weight: 100; 
    }
  }

}